<form method="post" action="/edit_potluck/<%= @potluck.id %>">
  <label>Name</label>
  <input type="text" name="potluck[name]" value="<%= @potluck.name %>">
  <label>Date</label>
  <input type="text" name="potluck[date]" value="<%= @potluck.date %>">
  <button>save changes!</button>
</form>


  <a href="/items/new_item/<%= @potluck.id %>">Add Item</a>


<ul>
<% @items.each do |item| %>
  <li>
    <!--fix eventually-->
    <%= item.name %> brought by <%= User.find_or_create_by_id(item.person_id).name %>
  </li>
<% end %>
</ul>